<query-editor-row query-ctrl="ctrl" can-collapse="false" has-text-edit-mode="true">
  <div class="gf-form-inline">

    <div class="gf-form">
      <input class="gf-form-input" 
        ng-model="ctrl.target.target" 
        spellcheck="false" />
    </div>
    
    <div class="gf-form max-width-8">
      <select class="gf-form-input" 
        ng-model="ctrl.target.type"
        ng-options="f as f for f in ['fieldMetricQuery','dateMetricQuery','groupByQuery','searchByQuery']"
        ng-blur="ctrl.onChangeInternal()"></select>
    </div>

    <div ng-if="ctrl.target.type=='dateMetricQuery'">
      <div class="gf-form">
        <gf-form-dropdown 
          model="ctrl.target.dateFieldName" 
          allow-custom="true" 
          lookup-text="true"
          get-options="ctrl.getDateFielsdNames($query)" 
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>
      </div>
    </div>

    <div class="gf-form">
      <textarea class="gf-form-input" rows="5" cols="256" 
        ng-model="ctrl.target.luceneQuery" 
        spellcheck="false"
        ng-blur="ctrl.onChangeInternal()" />
    </div>

    <div ng-if="ctrl.target.type=='dateMetricQuery'||ctrl.target.type=='fieldMetricQuery'">
        <select class="gf-form-input" 
        ng-model="ctrl.target.sortAscending" 
        ng-options="f as f for f in ['asc','desc']"
        ></select>
    </div>

    <!--s
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
    -->
  </div>
</query-editor-row>